@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-normale {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

/* nav style */

.section{
    height:33.20rem;
    background-color:  rgb(33, 32, 32)
    ;
}

.display-flex{
    display: flex;
}
.navber{
    cursor: pointer;
    text-justify: distribute-all-lines;
    justify-content: space-around;
    
}
.head-title{
    margin-top: 1.80rem;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.menu{
    gap: 2rem;
}
.first-btn{
    margin-top: 2rem;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgb(230, 83, 60);

}
.first-menu{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.40rem;
    color: rgb(255, 255, 255);
}

.title{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

.second-div{
    margin-left: 11rem;
    margin-top: 2rem;
}

.para{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.btn{
    margin-top: 1rem;
}
.btn-2{
    height: 2rem;
    width: 8rem;
    border-radius: 50px;
    border: none;
    background-color: rgb(230, 83, 60);

}

.btn-3{
    height: 2rem;
    width: 8rem;
    border-radius: 50px;
    border: none;
}

.img-1{
    height: 27rem;
    width: 15rem;
    margin-left: 9rem;
    
}

.v{
    color: rgb(255, 255, 255);
}

.p{
    color: rgba(239, 237, 232, 0.65);
}
.video-5{
    
    height: 2rem;
    width: 5rem;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-left: 5rem;
    margin-top: -20rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.1);
}

.video-3{
    position: relative;
    height: 2rem;
    width: 6rem;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-top: -6rem;
    margin-left: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.1);
}

/* main style */

.title-4{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

/* Responsshiv style*/

@media screen and (max-width:576px) {
    .navber{
        flex-direction: column;
    }
    .title-2{
       margin-top: 25rem;
       margin-left: -25rem;
       margin-right: 5rem;
    }
    .navber{
        margin-left: 1rem;
    }
    .section{
        height: 995px;
    }
    .second-div{
        
        margin-left: 1rem;
    }
    

    
}

 
















