@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-normale {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

/* nav style */

.section{
    height:33.20rem;
    background-color:  rgb(33, 32, 32)
    ;
}

.display-flex{
    display: flex;
}
.navber{
    cursor: pointer;
    text-justify: distribute-all-lines;
    justify-content: space-around;
    
}
.head-title{
    margin-top: 1.80rem;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.menu{
    gap: 2rem;
}
.first-btn{
    margin-top: 2rem;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgb(230, 83, 60);

}
.first-menu{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.40rem;
    color: rgb(255, 255, 255);
}

.title{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

.second-div{
    margin-left: 11rem;
    margin-top: 2rem;
}

.para{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.btn{
    margin-top: 1rem;
}
.btn-2{
    height: 2rem;
    width: 8rem;
    border-radius: 50px;
    border: none;
    background-color: rgb(230, 83, 60);

}

.btn-3{
    height: 2rem;
    width: 8rem;
    border-radius: 50px;
    border: none;
}

.img-1{
    height: 27rem;
    width: 15rem;
    margin-left: 9rem;
    
}

.v{
    color: rgb(255, 255, 255);
}

.p{
    color: rgba(239, 237, 232, 0.65);
}
.video-5{
    
    height: 2rem;
    width: 5rem;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-left: 5rem;
    margin-top: -20rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.1);
}

.video-3{
    position: relative;
    height: 2rem;
    width: 6rem;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-top: -6rem;
    margin-left: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.1);
}

/* main style */
main{
    height: 77rem;
    background-color: rgba(26, 22, 22, 0.998);
}

.title-4{
    margin-bottom: 1rem;
}

.main-hero{
    

}

.hero{
    padding-top: 1.50rem;
    text-align: center;
}

.hero-section{
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.img-3{
    height: 8rem;
    width: 9rem;
    border-radius: 50%;
}

.title-3{
    margin-top: 1rem;
    font-size: 1.10rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.para-1{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}
.title-4{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.justyfai{
    
}
/* main style-2 */

.master{ 
     margin-left: 23%;
    margin-right: 23%;     
    width: 44rem;
}
.hero-2{
    height: 15rem;
    /* width: 44rem; */
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: rgb(61, 63, 63);
    
}

.hero-title-2{
    padding: 1rem 1rem;
    gap: 2rem;
    /* justify-content: center;
    align-items: center; */
}
.img-4{
    height:13rem;
    width: 16rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}




















/* Responsshiv style*/

@media screen and (max-width:576px) {
    .navber,.hero-section,.hero-2,.hero-title-2{
        flex-direction: column;
    }
    .hero-section{
        justify-content: center;
        align-items: center;
    }

    .title-2{
       margin-top: 25rem;
       margin-left: -25rem;
       margin-right: 5rem;
    }
    .navber{
        margin-left: 1rem;
    }
    .section{
        height: auto;
    }
    .second-div{
        
        margin-left: 1rem;
    }
    
    .main-hero{
        height: 200rem;
        background-color: rgba(26, 22, 22, 0.998);
    }
    .master{
        height: 530px;
        width: 250px;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(61, 63, 63);

    }
    .img-4{
        width: 13.50rem;
    }

    
}

 
















